<!DOCTYPE html>
<html>
<head>
    <title>watchProperty3.html</title>
</head>
<body>
    <div id="app">
        <!--watch property는 비동기처리에 적합합니다. 
            네트워크 트래픽을 줄일 수 있도록 
            model property값의 변화를 감지하여 watch property용 함수로 작성합니다
            ex)model property : currentPage
            ex)watch: currentPage(n, o){ n가 변경된 값으로 비동기처리, return안함   }
        -->
        검색할 페이지를 입력하세요:<input type="text" v-model="currentPage">

        <hr>
        <!-- {{ajaxTest()}} -->
        <!-- <hr> -->
        <!-- {{products}} -->
        <table>
            <thead><tr><th>상품번호</th><th>상품명</th><th>가격</th></tr></thead>
            <tbody>
                <tr v-for="p in products">
                    <td>{{p.prodNo}}</td>
                    <td>{{p.prodName}}</td>
                    <td>{{p.prodPrice}}</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <div v-show="flag">결과 수신 완료</div>
    </div>

    <script src="http://unpkg.com/vue"></script>
    <script src="http://unpkg.com/axios"></script>
    <script>
        let vm = Vue.createApp({
            name: "App",
            data() {
                return {     
                    currentPage : '',               
                    products:[],
                    flag : false
                }
            },
            methods:{
                ajaxTest(){
                    let url = `http://localhost:8888/back2/productlistjson?currentPage=${this.currentPage}`
                    axios
                    .get(url)
                    .then((response)=>{
                        console.log(response.data)
                        this.products= response.data.list
                        this.flag = true
                    })
                }
            },
            watch:{
                currentPage(newdata, olddata){
                    console.log("changed")
                    if(newdata >= 1 ){
                        this.ajaxTest()
                    }else{
                        products  = []
                    }
                }
           
            }
        }).mount('#app')
    </script>
</body>

</html>